@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  margin-bottom: 100px;
}

.container .title {
  font-size: 25px;
  font-weight: 500;
}

.container .title-end {
  display: flex;
  text-align: center;
  padding-top: 10px;
  justify-content: center;
}

.title-end .name {
  padding-left: 5px;
  font-size: 20;
  font-weight: 800;
}

p {
  color: rgba(199, 74, 233, 1);
}

.container.title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
}

.container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100%);
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  transition: all 0.3s ease;
}

.user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

form .button {
  height: 45px;
  margin: 45px 0;

}

form .button button {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 5px;
  background: linear-gradient(135deg, #008168 0%, #29d9d5);
}

form .button button:hover {
  background: linear-gradient(-135deg, #29d9d5 0%, #008168);
}

table {
  background-color: #fff;
  padding: 15px;
  width: 100%;
  border-spacing: 0;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
  box-shadow: 0 12px 12px rgba(32, 32, 32, .3);
  text-align: center;
}

th {
  background-color: #009578;
  color: #fff;
  text-transform: uppercase;
}

th,
td {
  padding: 20px 35px;
}

td {
  text-align: center;
}

tr {
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
}

tr:nth-child(odd) {
  background-color: #eeeeee;
}

@media(max-width: 584px) {
  .container {
    max-width: 100%;
  }

  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }

  form .gender-details .category {
    width: 100%;
  }

  .container form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .user-details::-webkit-scrollbar {
    width: 0;
  }
}

.check {
  margin-right: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #008168;
}
