<section id="about" class="about">
    <div class="video-container">
        <video src="../../../assets/images/about-vid-2.mp4" muted autoplay loop class="video"></video>
        <div class="controls">
            <span class="control-btn">
                <!-- <video src="../../../../assets/images/about-vid-1.mp4"></video> -->
            </span>
            <span class="control-btn">
                <!-- <video src="../../../../assets/images/about-vid-2.mp4"></video> -->
            </span>
            <span class="control-btn">
                <!-- <video src="../../../../assets/images/about-vid-3.mp4"></video> -->
            </span>
        </div>
    </div>
    <div class="content">
        <span>Why choose us?</span>
        <h3>Nature's Majesty Awaits You</h3>
        <p>Certainly, travel is more than the seeing of sights; it is a change that goes on, deep and permanent, in
            the ideas of living.</p>
        <a href="#" class="about-btn">Read More</a>
    </div>
</section>