<body>
    <div class="banner"></div>
    <div class="container">
        <h1>Welcome Admin! <br> <span> You are the pilot of our Flig<span
                    style="color: rgb(0, 204, 255);">ht.</span></span></h1>
        <div class="btn">
            <a [routerLink]="['../check-in']">
                <button class="button" type="button">
                    <span class="button-text">Check In Booking</span>
                    <span class="button-icon"><i class="fa fa-id-badge" aria-hidden="true"></i></span>
                </button>
            </a>
        </div>
    </div>
</body>