<body>
    <section class="contact" id="contact">
        <div class="content">
            <h2>Contact Us</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad magni deleniti pariatur quis excepturi rerum
                deserunt totam corrupti eos nam?</p>
        </div>
        <div class="container1">
            <div class="contactInfo">
                <div class="box">
                    <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                    <div class="text">
                        <h3>Address</h3>
                        <p>MIG -1/47 Ext. <br>M.P. Nagar, Korba <br>495677</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                    <div class="text">
                        <h3>Phone</h3>
                        <p>8770835055</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                    <div class="text">
                        <h3>Email Id</h3>
                        <p>agrawal_ayush.cs@ghrce.raisoni.net</p>
                    </div>
                </div>
            </div>
            <div class="contactForm">
                <form action="">
                    <h2>Send Message</h2>
                    <div class="inputBox">
                        <input type="text" name="" id="" required>
                        <span>Full Name</span>
                    </div>
                    <div class="inputBox">
                        <input type="email" name="" id="" required>
                        <span>Email Id</span>
                    </div>
                    <div class="inputBox">
                        <textarea required></textarea>
                        <span>Type You Message...</span>
                    </div>
                    <div class="inputBox">
                        <input type="submit" value="Send">
                    </div>
                </form>
            </div>
        </div>

    </section>

</body>