<h1>Dashboard</h1>

<div class="col-md-8 mt-3">
    <div class="card mb-3 content">
        <h1 class="m-3 pt-3">About</h1>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <h5>Username</h5>
                </div>
                <div class="col-md-9 text-secondary">
                    {{project[0]}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <h5>First Name</h5>
                </div>
                <div class="col-md-9 text-secondary">
                    {{project[3]}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <h5>Last Name</h5>
                </div>
                <div class="col-md-9 text-secondary">
                    {{project[4]}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <h5>Email Id</h5>
                </div>
                <div class="col-md-9 text-secondary">
                    {{project[2]}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <h5>Mobile No.</h5>
                </div>
                <div class="col-md-9 text-secondary">
                    {{project[5]}}
                </div>
            </div>
        </div>
    </div>
</div>