<div class="sidenav" [ngClass]="collapsed ?'sidenav-collapsed':''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">F</button>
        <div class="logo-text" *ngIf="collapsed">light</div>
        <button class="btn-close" *ngIf="collapsed" (click)="closeSideNav()">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a class="sidenav-nav-link" href="profile/{{data.routeLink}}">
                <i class="sidenav-link-icon" [class]="data.icon" aria-hidden="true"></i>
                <span class="sidenav-link-text" *ngIf="collapsed">{{data.label}}</span>
            </a>
        </li>
    </ul>
</div>