<body>

    <div class="container">
        <div class="title">
            Change Your Password
        </div>
        <form class="form" [formGroup]="passwordForm" (ngSubmit)="changePassword(passwordForm)">
            <input type="hidden" th:field="*{id}" />
            <div class=" user-details">
                <div class="input-box">
                    <span class="details">Username</span>
                    <input type="text" placeholder="Enter Your Username" name="username" id="username"
                        formControlName="username" required>
                    <div>
                        <span style="color: red;" *ngIf=" 
                        !passwordForm.controls['username'].valid && passwordForm.controls['username']?.touched">Enter
                            Valid
                            Username</span>
                    </div>
                </div>
                <div class="input-box">
                    <span class="details">Email Id</span>
                    <input type="email" placeholder="Enter Your Email Id" name="email" id="email"
                        formControlName="emailId" required>
                    <div>
                        <span style="color: red;" *ngIf=" 
                            !passwordForm.controls['emailId'].valid && passwordForm.controls['emailId']?.touched">Enter
                            Valid
                            Email Id</span>
                    </div>

                </div>
                <div class="input-box">
                    <span class="details">New Password</span>
                    <input type="password" placeholder="Enter Your New Password" name="password" id="password"
                        maxlength="10" formControlName="password" required>
                    <div>
                        <span style="color: red;" *ngIf=" 
                !passwordForm.controls['password'].valid && passwordForm.controls['password']?.touched">Enter
                            Valid
                            Password</span>
                    </div>
                </div>
            </div>
            <div class="check">
                <a [routerLink]="['../register']">New User?</a>
                <a [routerLink]="['../login']">Already A User?</a>
            </div>
            <div class="button">
                <input type="submit" value="Change Password">
            </div>

        </form>
    </div>

</body>