<body>
    <div class="banner"></div>
    <div class="container">
        <h1>Welcome To Ayush Travels<br> <span> Explore The World With Us.</span></h1>
        <div class="btn">
            <a [routerLink]="['flight-search']">
                <button class="button" type="button">
                    <span class="button-text">Search Flight</span>
                    <span class="button-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg></span>
                </button>
            </a>
        </div>

    </div>

    <app-about></app-about>

    <section class="gallery" id="gallery">
        <div class="heading">
            <span>Our Visit Places</span>
            <h1>We Record Memories</h1>
        </div>

        <div class="box-container">
            <div class="box">
                <img src="../../../../assets/images/gallery-img-1.jpg" alt="">
                <span>Travel Spot</span>
                <span>
                    <h3>Iceland</h3>
                </span>
            </div>
            <div class="box">
                <img src="../../../../assets/images/gallery-img-2.jpg" alt="">
                <span>Travel Spot</span>
                <span>
                    <h3>Greenland</h3>
                </span>
            </div>
            <div class="box">
                <img src="../../../../assets/images/gallery-img-3.jpg" alt="">
                <span>Travel Spot</span>
                <span>
                    <h3>Alaska</h3>
                </span>
            </div>
            <div class="box">
                <img src="../../../../assets/images/gallery-img-4.jpg" alt="">
                <span>Travel Spot</span>
                <span>
                    <h3>Thailand</h3>
                </span>
            </div>
            <div class="box">
                <img src="../../../../assets/images/gallery-img-5.jpg" alt="">
                <span>Travel Spot</span>
                <span>
                    <h3>Brazil</h3>
                </span>
            </div>
            <div class="box">
                <img src="../../../../assets/images/gallery-img-6.jpg" alt="">
                <span>Travel Spot</span>
                <span>
                    <h3>Maldives</h3>
                </span>
            </div>
            <div class="box">
                <img src="../../../../assets/images/gallery-img-7.jpg" alt="">
                <span>Travel Spot</span>
                <span>
                    <h3>Australia</h3>
                </span>
            </div>
            <div class="box">
                <img src="../../../../assets/images/gallery-img-8.jpg" alt="">
                <span>Travel Spot</span>
                <span>
                    <h3>New Zealand</h3>
                </span>
            </div>
            <div class="box">
                <img src="../../../../assets/images/gallery-img-9.jpg" alt="">
                <span>Travel Spot</span>
                <span>
                    <h3>New Zealand</h3>
                </span>
            </div>

        </div>

    </section>

    <app-contact></app-contact>

</body>